---
---

<section
  id="about"
  class="flex flex-col flex-wrap justify-start items-center font-mono w-screen"
>
  <div
    class="flex h-full justify-start sm:justify-around items-center flex-col sm:flex-row w-screen"
  >
    <div class="about-img"></div>
    <div class="flex flex-col justify-center sm:w-fit pl-10">
      <h3 class="sm:text-3xl text-2xl text-amber-200">About</h3>
      <p class="about-desc mr-10 text-sm">
        From music production to software engineering, I've embarked on a
        transformative journey driven by passion and growth. With experience in
        House, Drum and Bass, and Dubstep, I create immersive experiences. <br
        />I thrive on working across the stack, from SQL queries to React-based
        Front End. Continuous learning fuels my motivation. <br />Seeking a role
        to solve complex problems with innovative solutions. Let's push
        boundaries and create remarkable experiences together!
      </p>
    </div>
  </div>
</section>
