#resume-btn {
  color: #FFF;
  flex: 1 1 auto;
  margin: 20px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  overflow: hidden;
  transition: .3s;
}

#resume-btn:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 100%;
  left: 0%;
  bottom: auto;
  height: 3px;
  top: -3px;
  background: #f7f7f7;
}

#resume-btn:hover {
  cursor: pointer;
}

#resume-btn:hover:after {
  width: 100%;
  left: 0;
  top: calc(100% - 3px);
}

a.nav-btn {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  color: #FFF;
  background: none;
  border-bottom: 2px solid #FFF;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    background: #FFF;
    pointer-events: none;
    transform: translate3d(0, 60px, 0);
    transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &:hover {
    color: #333;

    &:after {
      transform: translate3d(0, 0, 0);
    }
  }
}



.intro-btn {
  color: #ffffff;
  transition: all 0.3s;
  position: relative;

}

.intro-btn span {
  transition: all 0.3s;
}

.intro-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.intro-btn:hover span {
  letter-spacing: 2px;
}

.intro-btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.intro-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(195, 64, 64, 0);
}

.intro-btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}



.submit-btn {
  margin-top: 40px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 10px 16px;
}

.submit-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}