---
---

<section id="exp" class="h-fit mb-48 w-fit font-mono pl-8">
  <h1 class="text-3xl sm:text-5xl text-center mt-16 text-lime-400">
    Experience
  </h1>
  <div class="exp-container w-screen h-96 flex flex-col items-center mt-24">
    <!-- <img
      class="exp-image"
      src="https://media.licdn.com/dms/image/C4E0BAQGbulM8Iq25pA/company-logo_100_100/0/1679411793721?e=1698883200&v=beta&t=s7OdLZdHNgRiBn_33oVcIO_fZepYZfKIn2zEkFBp5bQ"
      width="100"
      alt="aldea logo"
    /> -->
    <div class="exp-info flex flex-col w-screen sm:w-4/6 pr-20">
      <a href="https://www.linkedin.com/company/razortooth-communications-llc">
        <h3 class="exp-company text-2xl text-amber-200">
          Razertooth Communications, LLC
        </h3>
      </a>
      <h4 class="exp-role text-lg text-amber-600">Software Engineer</h4>
      <p class="exp-desc text-sm">
        ‣ Engineered an emulator for a medical device using C++ and ESP32
        microcontrollers, significantly contributing to the development and
        testing phases of a mobile application.
        <br />
        ‣ Implemented a feature that transfers new firmware updates from one ESP32
        microcontroller to another using Bluetooth Low Energy Protocol, and C++,
        enabling sophisticated firmware updates on the target device.
        <br />
        ‣ Created and executed over 20 comprehensive end-to-end manual test plans
        for a client’s mobile application, enhancing product quality through rigorous
        QA testing.
      </p>
    </div>
  </div>
  <div class="exp-container w-screen h-96 flex flex-col items-center mt-24">
    <!-- <img
      class="exp-image"
      src="https://media.licdn.com/dms/image/C4E0BAQGbulM8Iq25pA/company-logo_100_100/0/1679411793721?e=1698883200&v=beta&t=s7OdLZdHNgRiBn_33oVcIO_fZepYZfKIn2zEkFBp5bQ"
      width="100"
      alt="aldea logo"
    /> -->
    <div class="exp-info flex flex-col w-screen sm:w-4/6 pr-20">
      <a href="https://www.linkedin.com/company/aldea-listings">
        <h3 class="exp-company text-2xl text-amber-200">Aldea</h3>
      </a>
      <h4 class="exp-role text-lg text-amber-600">Software Engineer</h4>
      <p class="exp-desc text-sm">
        ‣ Revamped geolocation feature by implementing ipapi, JavaScript, and
        React, resulting in a 97% reduction in latency for fetching user
        location.
        <br />
        ‣ Developed property discovery platform for users to find homes and land
        for sale in the Dominican Republic and realtor to post open listings utilizing
        JavaScript, TypeScript, React, Next.js, HTML5, and CSS5.
        <br />
        ‣ Engineered nearby property listing features which utilizes users geolocation
        to display nearby for sale homes and land using Google Maps API, JavaScript,
        TypeScript, and React.
      </p>
    </div>
  </div>
  <div class="exp-container w-screen h-96 flex flex-col items-center mt-24">
    <!-- <img
      class="exp-image"
      src="https://media.licdn.com/dms/image/C4D0BAQGAEKKxtq8hUA/company-logo_200_200/0/1626473166989?e=1698883200&v=beta&t=HTJBwW0_Sq1vruQ6EGhBtVBHFEYnK7B61Bjsn0yRpyo"
      width="100"
      alt="Strategio logo"
    /> -->
    <div class="exp-info flex flex-col w-screen sm:w-4/6 pr-20">
      <a href="https://www.linkedin.com/company/strategio1/">
        <h3 class="exp-company text-2xl text-amber-200">Strategio</h3>
      </a>
      <h4 class="exp-role text-lg text-amber-600">Software Engineer</h4>
      <p class="exp-desc">
        ‣ Automated the launch and set-up of AWS EC2 instances by utilizing
        Python and Boto3, resulting in a 15-second reduction in manual labor and
        standardization of settings.
        <br />
        ‣ Implemented Docker to create 5 virtual environments, improving team collaboration
        and productivity through shared development environments.
      </p>
    </div>
  </div>
  <div class="exp-container w-screen h-96 flex flex-col items-center mt-8">
    <!-- <img
      class="exp-image"
      src="https://media.licdn.com/dms/image/C4E0BAQHre4dyMWvddw/company-logo_100_100/0/1679418539807?e=1698883200&v=beta&t=vaaFN-BmdpUOKWvB46Yv5kqbPRBkSfz7M0xAI0vJl90"
      width="100"
      alt="Primordial Sound logo"
    /> -->
    <div class="exp-info flex flex-col w-screen sm:w-4/6 pr-20">
      <a href="https://www.linkedin.com/company/primordial-sound-music">
        <h3 class="exp-company text-2xl text-amber-200">Primordial Sound</h3>
      </a>
      <h4 class="exp-role text-lg text-amber-600">
        Mixing Engineer | Music Producer
      </h4>
      <p class="exp-desc">
        ‣ Enhanced the mixing workflow by developing personalized effect racks
        through the utilization of plugins such as Ableton Live 10, Fabfilter,
        Ableton stock plugins, Izotope Ozone 10, and Waves SSL E-Channel.
        <br />
        ‣ Optimized workflow by scheduling dedicated time slots in Google Calendar
        for mixing 5 tracks per week, leading to consistent and timely delivery of
        high-quality finished products.
      </p>
    </div>
  </div>
</section>
