---
---

<section
  id="intro-section"
  class="h-screen flex items-center justify-center flex-col mt-80"
>
  <!-- <img src="" alt="" class="intro-img" /> -->
  <div class="intro-container flex flex-col font-mono">
    <h3 class="glitch intro-name text-4xl sm:text-3xl text-center">
      Hi my name is Joelchrist
    </h3>
    <h4
      class="glitch intro-role text-lg sm:text-xl text-center p-16 text-amber-600"
    >
      And I am a Software Engineer.
    </h4>
    <a
      class="intro-btn py-6 pt-10 text-base sm:text-2xl text-center text-lime-500"
      href="#about">Learn More About Me</a
    >
  </div>
</section>
