---
---

<button id="resume-btn" class="fixed left-0 bottom-0 z-10"> Resume</button>
<script>
  const onClickResumeHandler = () => {
    // const resumePath = new URL("/Joelchrist_Abreu_resume.pdf");
    // Create dummy <a> element using JavaScript.
    var hidden_a = document.createElement("a");

    // add texts as a href of <a> element after encoding.
    hidden_a.setAttribute(
      "href",
      "https://docs.google.com/document/d/1zxZARpO1VWT4Z90gAWmzgtbj9I23NVOxrGldO3aHNpg/edit?usp=sharing"
    );

    hidden_a.setAttribute("target", "_blank");
    document.body.appendChild(hidden_a);

    // click the link element
    hidden_a.click();
    document.body.removeChild(hidden_a);
  };

  document.getElementById("resume-btn")?.addEventListener("click", () => {
    onClickResumeHandler();
  });
</script>
