---
import "../stylesheets/Skills.css"
---

<section
  id="skills"
  class="w-screen h-fit font-mono flex flex-col items-center mt-80"
>
  <h2 class="text-3xl sm:text-5xl text-center text-lime-400">Skills</h2>
  <div class="mt-24 pl-8">
    <div class="flex flex-col">
      <h3 class="text-lg sm:text-2xl text-amber-600">Front End</h3>
      <div class="flex flex-wrap">
        <p>‣ React</p>
        <p>‣ Javascript</p>
        <p>‣ HTML</p>
        <p>‣ CSS</p>
      </div>
    </div>

    <br />
    <div class="flex flex-col">
      <h3 class="text-lg sm:text-2xl text-amber-400">Back End</h3>
      <div class="flex flex-wrap">
        <p>‣ C++</p>
        <p>‣ Express.js</p>
        <p>‣ Node.js</p>
        <p>‣ SQL</p>
        <p>‣ MySQL</p>
        <p>‣ Postgres</p>
        <p>‣ MongoDB</p>
      </div>
    </div>
    <br />
    <div class="flex flex-col">
      <h3 class="text-lg sm:text-2xl text-amber-300">Other Tech</h3>
      <div class="flex flex-wrap">
        <p>‣ ESP32 Microcontroller</p>
        <p>‣ Bluetooth Development</p>
        <p>‣ Agile Methodologies</p>
        <p>‣ Trello</p>
        <p>‣ Github</p>
        <p>‣ Git</p>
        <p>‣ Docker</p>
        <p>‣ AWS EC2</p>
        <p>‣ Postman</p>
      </div>
    </div>
  </div>
</section>
