---
import TwitterSVG from "./TwitterSVG.astro";
import LinkedInSVG from "./LinkedInSVG.astro";
import GitHubSVG from "./GitHubSVG.astro";
import TwitchSVG from "./TwitchSVG.astro";
---

<section id="socials" class="font-mono h-fit mt-4 sm:mt-24 sm:w-fit fixed">
  <ul
    class="socials-container flex justify-start sm:w-fit sm:flex-col mt-10 gap-5"
  >
    <li class="socials-container-box w-12 sm:w-36">
      <a
        class="github flex items-center w-10 h-10 sm:h-16 sm:w-16"
        href="https://github.com/JAbreu96"
        target="_blank"
      >
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <GitHubSVG />
      </a>
    </li>
    <li class="socials-container-box w-12 sm:w-36">
      <a
        class="twitter w-10 h-10 sm:h-16 sm:w-16"
        href="https://twitter.com/FullStackJC"
        target="_blank"
      >
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <TwitterSVG />
      </a>
    </li>
    <li class="socials-container-box w-12 sm:w-36">
      <a
        class="linkedin w-10 h-10 sm:h-16 sm:w-16"
        href="https://www.linkedin.com/in/jc-abreu/"
        target="_blank"
      >
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <LinkedInSVG />
      </a>
    </li>
    <li class="socials-container-box w-12 sm:36">
      <a
        class="twitch w-10 h-10 sm:h-16 sm:w-16"
        href="https://www.twitch.tv/jccodes"
        target="_blank"
      >
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <span class="animated-border"></span>
        <TwitchSVG />
      </a>
    </li>
  </ul>
</section>
